/* max - 599 */
.previewLayout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"header"
		"meta"
		"preview"
		"preview-controls";
	overflow: hidden;
	height: 100%;
	border-top: 4px solid var(--color-accent);
}

.metaSidebar {
	grid-area: meta;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 0;
}

.previewHeader {
	grid-area: header;
	padding: 0.8rem;
	border-bottom: 1px solid var(--color-accent);
}

.metaListMini {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	padding: 0.8rem;
}

.metaListFull {
	display: none;
	flex-direction: column;
	gap: 0.6rem;
	padding: 0 0.8rem 0.8rem 0.8rem;
}

.previewMetaBlock {
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
}

.previewMetaLabel {
	font-size: var(--text-sm);
	color: var(--color-text-secondary);
}

.previewMetaValue {
	font-size: var(--text-md);
	color: var(--color-text-primary);
}

.preview {
	grid-area: preview;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
}

.previewControls {
	grid-area: preview-controls;
	border-top: 1px solid var(--color-accent);
	padding: 0.8rem;
}

.canvas {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	image-rendering: pixelated;
	display: block;
}

.authorsList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem;
}

.authorLink {
	color: var(--color-link);
	text-decoration: none;
}

.authorLink:hover {
	text-decoration: underline;
}

/* 2-column main layout with minimal preview */
@media (min-width: 600px) {
	.previewLayout {
		border: 4px solid var(--color-accent);
	}
}

/* 2-column main layout with full 2-column preview */
@media (min-width: 1024px) {
	.previewLayout {
		grid-template-columns: 440px 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"header preview"
			"meta preview"
			"preview-controls preview";
	}

	.metaSidebar {
		border-right: 1px solid var(--color-accent);
	}

	.preview {
		border-left: 1px solid var(--color-accent);
	}

	.metaListMini {
		gap: 1rem;
		padding-bottom: 1rem;
	}
	.metaListFull {
		display: flex;
		gap: 1rem;
	}
}
