# Local files
.DS_Store
.react-router/
*.git
_site
_cache
*.log
node_modules
.cache*
*.tsbuildinfo
dist
build

# AI Tools
.kilo
AGENTS.md
CLAUDE.md
.codemie
.opencode
.claude

# Secrets
*.local
.env



