:root {
	/* Base tokens */
	--color-green-100: #95fe4e;
	--color-green-300: #72c836;
	--color-green-500: #50872d;
	--color-green-700: #345123;
	--color-green-900: #0f1a09;

	--text-font-main: "VT323", monospace;
	--text-md: "1rem";
	--text-sm: "0.8rem";
	--text-xxl: "2rem";
	--text-xl: "1.6rem";
	--text-lg: "1.2rem";

	/* Semantical tokens */
	--color-text-primary: var(--color-green-100);
	--color-text-secondary: var(--color-green-300);
	--color-bg: var(--color-green-900);
	--color-surface: var(--color-green-700);
	--color-accent: var(--color-green-500);
}

/*
  media sizes
  sm: 0-767
  md: 768-1919
  lg: 1920+
*/

* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
	color: var(--color-text-primary);
	background-color: var(--color-bg);
	font-family: var(--text-font-main);
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) transparent;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/* padding: 1.2rem; */

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 4px;
}

a:hover {
	text-decoration: solid;
}

footer {
	margin: 2.4rem 0;
	font-size: 1.2rem;
}

@media (min-width: 1920px) {
	html {
		font-size: 24px;
	}
}

@media (max-width: 767px) {
	html {
		font-size: 16px;
	}
}
