:root {
  --color-black: #000000;
  --color-white: #e6e6e6;
  --color-blue-30: #161f50;
  --color-blue-80: #576ce3;
  --color-blue-50: #4341bf;
  --color-gray-ui: #b3b3b3;
  --font-main: 'VT323', monospace;
  background-color: var(--color-black); 
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  padding: 24px; 
}

body {
  max-width: 1112px;
  color: var(--color-white);
  font-family: var(--font-main);
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: solid;
}

footer {
  margin: 48px 0;
  font-size: 24px;
}
