:root {
  background-color: #252525;
}

html {
  padding: 24px;
}

body {
  max-width: 1200px;
  color: #e8e8e8;
  font-family:
    ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.character-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin: 48px 0;
}

.character-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 8px;
  width: 360px;
  height: 360px;
  background-color: #181818;
  color: rgb(239, 239, 239);
  border-radius: 4px;
}

.character-item > .character-preview {
  display:flex;
  justify-content: center;
  flex-grow: 1;
  align-self: stretch;
  max-width: 100%;
}

.character-preview > img {
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: solid;
}

footer {
  margin: 24px 0;
}
